
<html>
    <head>
    </head>
    <body>
    
            <div style="position:absolute; left:56.54463815528225%; top:93.17343499415122%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgu.png" style="width:30px;height:30px;"><br>
                <span>Zaxara Freed Combo</span>
            </div>
            
            <div style="position:absolute; left:58.800220686061444%; top:83.53108846510048%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bruw.png" style="width:30px;height:30px;"><br>
                <span>Breya Consultation</span>
            </div>
            
            <div style="position:absolute; left:69.88913463584743%; top:89.24821427067906%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gu.png" style="width:30px;height:30px;"><br>
                <span>Edric Turns</span>
            </div>
            
            <div style="position:absolute; left:49.045243269712785%; top:85.98733721166337%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/uw.png" style="width:30px;height:30px;"><br>
                <span>GAAIV Control</span>
            </div>
            
            <div style="position:absolute; left:82.43825149259409%; top:36.856186242067444%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgrw.png" style="width:30px;height:30px;"><br>
                <span>Tana Tymna Reanimator</span>
            </div>
            
            <div style="position:absolute; left:42.07018580321251%; top:81.34585285566293%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/uw.png" style="width:30px;height:30px;"><br>
                <span>Lavinia Omen Pool</span>
            </div>
            
            <div style="position:absolute; left:13.240908373443162%; top:39.12739096468362%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bguw.png" style="width:30px;height:30px;"><br>
                <span>Thrasios Tymna Midrange</span>
            </div>
            
            <div style="position:absolute; left:30.69202264797793%; top:61.22407182583845%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/w.png" style="width:30px;height:30px;"><br>
                <span>Heliod Ballista</span>
            </div>
            
            <div style="position:absolute; left:57.75406493579025%; top:84.4720019931537%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bruw.png" style="width:30px;height:30px;"><br>
                <span>Kraum Tymna Breach</span>
            </div>
            
            <div style="position:absolute; left:16.610111934081765%; top:45.69188911587737%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/uw.png" style="width:30px;height:30px;"><br>
                <span>Brago Stax</span>
            </div>
            
            <div style="position:absolute; left:89.51011064040132%; top:34.79926750796669%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgu.png" style="width:30px;height:30px;"><br>
                <span>Muldrotha Midrange</span>
            </div>
            
            <div style="position:absolute; left:21.679399470625764%; top:27.239185059257682%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ruw.png" style="width:30px;height:30px;"><br>
                <span>Elsha Top</span>
            </div>
            
            <div style="position:absolute; left:29.32719778620395%; top:18.115281895094807%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgw.png" style="width:30px;height:30px;"><br>
                <span>Kodama Tymna Razaketh</span>
            </div>
            
            <div style="position:absolute; left:21.669552648379366%; top:21.291751522692483%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gru.png" style="width:30px;height:30px;"><br>
                <span>Kalamax Control Breach</span>
            </div>
            
            <div style="position:absolute; left:65.6692951328501%; top:19.076692159191342%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gw.png" style="width:30px;height:30px;"><br>
                <span>Selvala Twiddlestorm</span>
            </div>
            
            <div style="position:absolute; left:73.89406646758711%; top:13.849600757110487%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/br.png" style="width:30px;height:30px;"><br>
                <span>Anje Madness</span>
            </div>
            
            <div style="position:absolute; left:78.58344313231474%; top:78.4563623198663%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bguw.png" style="width:30px;height:30px;"><br>
                <span>Thrasios Tymna Hermit Druid</span>
            </div>
            
            <div style="position:absolute; left:10.711210686325352%; top:39.503866805177125%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gu.png" style="width:30px;height:30px;"><br>
                <span>Tatyova Turns</span>
            </div>
            
            <div style="position:absolute; left:65.68521480360079%; top:16.121513989809394%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgruw.png" style="width:30px;height:30px;"><br>
                <span>Najeela Tempo</span>
            </div>
            
            <div style="position:absolute; left:18.46738369584153%; top:77.23610141201986%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/b.png" style="width:30px;height:30px;"><br>
                <span>K'rrik, Son of Yawgmoth</span>
            </div>
            
            <div style="position:absolute; left:72.55575962333566%; top:24.115342660331034%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/brw.png" style="width:30px;height:30px;"><br>
                <span>Kaalia Razaketh</span>
            </div>
            
            <div style="position:absolute; left:67.1326151995845%; top:21.406563558500405%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/brw.png" style="width:30px;height:30px;"><br>
                <span>Jeska Tymna Turbo Naus</span>
            </div>
            
            <div style="position:absolute; left:17.1272865347671%; top:72.79001337061248%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgru.png" style="width:30px;height:30px;"><br>
                <span>Thrasios Vial Midrange</span>
            </div>
            
            <div style="position:absolute; left:68.52617660958316%; top:16.440720736657973%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgw.png" style="width:30px;height:30px;"><br>
                <span>Ghave Combo</span>
            </div>
            
            <div style="position:absolute; left:64.76896885851254%; top:12.109957289096847%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/u.png" style="width:30px;height:30px;"><br>
                <span>Azami Wizards</span>
            </div>
            
            <div style="position:absolute; left:34.10676803471648%; top:14.02061300120858%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ru.png" style="width:30px;height:30px;"><br>
                <span>Rielle Breach</span>
            </div>
            
            <div style="position:absolute; left:92.14730291383768%; top:60.06889442128518%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bg.png" style="width:30px;height:30px;"><br>
                <span>Hapatra Hulk</span>
            </div>
            
            <div style="position:absolute; left:25.057690064036375%; top:70.04697421204332%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgrw.png" style="width:30px;height:30px;"><br>
                <span>Tana Tymna Blood Pod</span>
            </div>
            
            <div style="position:absolute; left:20.781644094860923%; top:28.96936334295549%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/buw.png" style="width:30px;height:30px;"><br>
                <span>Zur Storm</span>
            </div>
            
            <div style="position:absolute; left:90.7806071376734%; top:43.26304772711084%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgu.png" style="width:30px;height:30px;"><br>
                <span>Tasigur Control</span>
            </div>
            
            <div style="position:absolute; left:83.07837629310038%; top:66.5777266780477%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgruw.png" style="width:30px;height:30px;"><br>
                <span>Kenrith Storm</span>
            </div>
            
            <div style="position:absolute; left:18.63150640580324%; top:68.98583825052982%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgw.png" style="width:30px;height:30px;"><br>
                <span>Tayam Midrange Druid</span>
            </div>
            
            <div style="position:absolute; left:29.330511477268608%; top:22.58558733099589%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgruw.png" style="width:30px;height:30px;"><br>
                <span>Sisay Five-Colour Tutors</span>
            </div>
            
            <div style="position:absolute; left:22.714130033962437%; top:73.99150706620158%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgw.png" style="width:30px;height:30px;"><br>
                <span>Ikra Tymna Turbo Naus</span>
            </div>
            
            <div style="position:absolute; left:20.674176870523382%; top:81.90256847898664%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bg.png" style="width:30px;height:30px;"><br>
                <span>Varolz Hulk</span>
            </div>
            
            <div style="position:absolute; left:92.97940694950313%; top:51.3306307786166%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgu.png" style="width:30px;height:30px;"><br>
                <span>Cazur Ukkima Food Chain</span>
            </div>
            
            <div style="position:absolute; left:74.3415598713599%; top:14.553018985687913%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgu.png" style="width:30px;height:30px;"><br>
                <span>Sidisi Layered Combo</span>
            </div>
            
            <div style="position:absolute; left:36.894377823116976%; top:90.95415323696477%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gu.png" style="width:30px;height:30px;"><br>
                <span>Vannifar Creature-Chain</span>
            </div>
            
            <div style="position:absolute; left:7.9266349158846765%; top:58.87873586152588%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/g.png" style="width:30px;height:30px;"><br>
                <span>Selvala Brostorm</span>
            </div>
            
            <div style="position:absolute; left:58.190677285496164%; top:6.4298582737065075%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gu.png" style="width:30px;height:30px;"><br>
                <span>Momir Hackball</span>
            </div>
            
            <div style="position:absolute; left:78.81880503408112%; top:21.307592394757137%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bru.png" style="width:30px;height:30px;"><br>
                <span>Kess Storm</span>
            </div>
            
            <div style="position:absolute; left:77.96237712675602%; top:17.333419747070685%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/g.png" style="width:30px;height:30px;"><br>
                <span>Marwyn Elfball</span>
            </div>
            
            <div style="position:absolute; left:33.83739122174558%; top:13.410792882584992%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgruw.png" style="width:30px;height:30px;"><br>
                <span>First Sliver Food Chain</span>
            </div>
            
            <div style="position:absolute; left:51.438305875084495%; top:9.358776421132752%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bg.png" style="width:30px;height:30px;"><br>
                <span>Gitrog Dakmor Combo</span>
            </div>
            
            <div style="position:absolute; left:83.30839430298718%; top:45.101498861776676%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/r.png" style="width:30px;height:30px;"><br>
                <span>Godo Helm</span>
            </div>
            
            <div style="position:absolute; left:72.33161413572073%; top:20.918331297229127%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gruw.png" style="width:30px;height:30px;"><br>
                <span>Bruse Thrasios Evolution</span>
            </div>
            
            <div style="position:absolute; left:69.85045521922622%; top:19.967360628984093%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/guw.png" style="width:30px;height:30px;"><br>
                <span>Chulane Midrange</span>
            </div>
            
            <div style="position:absolute; left:7.403931269379505%; top:52.45344108156263%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bg.png" style="width:30px;height:30px;"><br>
                <span>Nath Stax</span>
            </div>
            
            <div style="position:absolute; left:33.67936667331891%; top:24.827854127706427%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bruw.png" style="width:30px;height:30px;"><br>
                <span>Kraum Tymna Bearweaver</span>
            </div>
            
            <div style="position:absolute; left:7.12154858271456%; top:46.76914809137081%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/u.png" style="width:30px;height:30px;"><br>
                <span>Emry Artifacts</span>
            </div>
            
            <div style="position:absolute; left:53.41808354951788%; top:88.51529327370656%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/br.png" style="width:30px;height:30px;"><br>
                <span>Kroxa WGD</span>
            </div>
            
            <div style="position:absolute; left:60.76805835977434%; top:84.70100906705171%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bruw.png" style="width:30px;height:30px;"><br>
                <span>Kraum Tymna Opus Thief</span>
            </div>
            
            <div style="position:absolute; left:34.160944791874215%; top:81.95677457480737%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gruw.png" style="width:30px;height:30px;"><br>
                <span>Bruse Thrasios Blue Pod</span>
            </div>
            
            <div style="position:absolute; left:91.5195488800739%; top:53.49830986424369%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gru.png" style="width:30px;height:30px;"><br>
                <span>Animar Harvest</span>
            </div>
            
            <div style="position:absolute; left:70.63422475868093%; top:16.905759283400393%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bguw.png" style="width:30px;height:30px;"><br>
                <span>Thrasios Tymna Razakats</span>
            </div>
            
            <div style="position:absolute; left:82.74758719142841%; top:63.26800578776776%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ruw.png" style="width:30px;height:30px;"><br>
                <span>Brallin Shabraz Curiosity</span>
            </div>
            
            <div style="position:absolute; left:67.25234790538138%; top:26.689991596919523%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/grw.png" style="width:30px;height:30px;"><br>
                <span>Marath Stax</span>
            </div>
            
            <div style="position:absolute; left:84.62753863181837%; top:44.90749881669853%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ruw.png" style="width:30px;height:30px;"><br>
                <span>Vadrok Storm</span>
            </div>
            
            <div style="position:absolute; left:15.5454012206989%; top:38.46779578447841%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/brw.png" style="width:30px;height:30px;"><br>
                <span>Markov Razaketh</span>
            </div>
            
            <div style="position:absolute; left:15.03875296128804%; top:36.90461977352579%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/uw.png" style="width:30px;height:30px;"><br>
                <span>Taigam Turns</span>
            </div>
            
            <div style="position:absolute; left:14.55339060696506%; top:29.395682915039206%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/g.png" style="width:30px;height:30px;"><br>
                <span>Yisan Midrange</span>
            </div>
            
            <div style="position:absolute; left:70.11476387382123%; top:15.040393994236801%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bru.png" style="width:30px;height:30px;"><br>
                <span>Inalla Wizard Combo</span>
            </div>
            
            <div style="position:absolute; left:29.232104766365634%; top:78.58564276012054%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/buw.png" style="width:30px;height:30px;"><br>
                <span>Aminatou Consultation</span>
            </div>
            
            <div style="position:absolute; left:77.40148675371648%; top:22.718694408129736%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/guw.png" style="width:30px;height:30px;"><br>
                <span>Derevi Stax</span>
            </div>
            
            <div style="position:absolute; left:84.13762458616225%; top:24.965350037890257%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gu.png" style="width:30px;height:30px;"><br>
                <span>Kinnan Infinite Mana</span>
            </div>
            
            <div style="position:absolute; left:35.44271544512865%; top:80.72597380700087%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/w.png" style="width:30px;height:30px;"><br>
                <span>Teshar KCI</span>
            </div>
            
            <div style="position:absolute; left:15.524649804261827%; top:64.32578118843765%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ru.png" style="width:30px;height:30px;"><br>
                <span>Niv-Mizzet Parun Control</span>
            </div>
            
            <div style="position:absolute; left:5.677491097715709%; top:49.02038321197835%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bu.png" style="width:30px;height:30px;"><br>
                <span>Yuriko Midrange</span>
            </div>
            
            <div style="position:absolute; left:19.270585430502113%; top:75.60669990873348%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bru.png" style="width:30px;height:30px;"><br>
                <span>Kess Midrange</span>
            </div>
            
            <div style="position:absolute; left:86.21349494552922%; top:66.18725511859788%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgr.png" style="width:30px;height:30px;"><br>
                <span>Korvold Turbo Naus</span>
            </div>
            
            <div style="position:absolute; left:70.0461682332692%; top:83.4537163729752%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gr.png" style="width:30px;height:30px;"><br>
                <span>Ruric Thar Midrange</span>
            </div>
            
            <div style="position:absolute; left:23.399470152981177%; top:18.363687694323392%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/b.png" style="width:30px;height:30px;"><br>
                <span>Yawgmoth Undying Combo</span>
            </div>
            
            <div style="position:absolute; left:55.50368031433482%; top:11.390292632582629%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgru.png" style="width:30px;height:30px;"><br>
                <span>Ikra Kraum Turbo Naus</span>
            </div>
            
            <div style="position:absolute; left:76.01151360628468%; top:19.612483485647147%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgruw.png" style="width:30px;height:30px;"><br>
                <span>Kenrith Druid</span>
            </div>
            
            <div style="position:absolute; left:58.52086452590276%; top:84.9770620225772%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgruw.png" style="width:30px;height:30px;"><br>
                <span>Kenrith Midrange</span>
            </div>
            
            <div style="position:absolute; left:71.22193610691265%; top:35.56368448488692%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/rw.png" style="width:30px;height:30px;"><br>
                <span>Winota Stax</span>
            </div>
            
            <div style="position:absolute; left:76.88364506935405%; top:25.06580516179758%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/br.png" style="width:30px;height:30px;"><br>
                <span>Grenzo Doomsday</span>
            </div>
            
            <div style="position:absolute; left:28.784870736354353%; top:19.68633492421601%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gruw.png" style="width:30px;height:30px;"><br>
                <span>Bruse Thrasios Dawnwaker</span>
            </div>
            
            <div style="position:absolute; left:55.1501265000047%; top:91.34715598617467%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bu.png" style="width:30px;height:30px;"><br>
                <span>Kels Consult Scepter</span>
            </div>
            
            <div style="position:absolute; left:49.9987339371589%; top:8.000000019082322%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/u.png" style="width:30px;height:30px;"><br>
                <span>Urza Polymorph</span>
            </div>
            
            <div style="position:absolute; left:63.171604843582486%; top:14.355802353755884%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bru.png" style="width:30px;height:30px;"><br>
                <span>Malcolm Vial Smasher Turbo Naus</span>
            </div>
            
            <div style="position:absolute; left:18.66981802765613%; top:70.90926769061024%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ru.png" style="width:30px;height:30px;"><br>
                <span>Okaun Zndrsplt Breach Efreet</span>
            </div>
            
            <div style="position:absolute; left:73.02070003337913%; top:16.476498575611828%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bu.png" style="width:30px;height:30px;"><br>
                <span>Nymris Control</span>
            </div>
            
            <div style="position:absolute; left:14.99350622823789%; top:67.9347847748082%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bru.png" style="width:30px;height:30px;"><br>
                <span>Jeleva Midrange</span>
            </div>
            
            <div style="position:absolute; left:78.8588533200059%; top:70.38654040044139%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgruw.png" style="width:30px;height:30px;"><br>
                <span>Kenrith Stax</span>
            </div>
            
            <div style="position:absolute; left:18.781219053556068%; top:64.28864913124144%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ruw.png" style="width:30px;height:30px;"><br>
                <span>Jeska Ishai Murderbird</span>
            </div>
            
            <div style="position:absolute; left:65.31197028211523%; top:87.31382242356574%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bru.png" style="width:30px;height:30px;"><br>
                <span>Rograkh Silas Turbo Naus</span>
            </div>
            
            <div style="position:absolute; left:50.70217636251474%; top:89.66045124302508%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ru.png" style="width:30px;height:30px;"><br>
                <span>Jhoira Storm</span>
            </div>
            
            <div style="position:absolute; left:48.289283114043926%; top:11.371195218500276%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gru.png" style="width:30px;height:30px;"><br>
                <span>Malcolm Tana Glinthorn</span>
            </div>
            
            <div style="position:absolute; left:72.05706724966763%; top:83.36893442026042%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gru.png" style="width:30px;height:30px;"><br>
                <span>Rograkh Thrasios PolyKraken</span>
            </div>
            
            <div style="position:absolute; left:46.8710906469276%; top:89.20868573889422%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/br.png" style="width:30px;height:30px;"><br>
                <span>Rograkh Tevesh Turbo Naus</span>
            </div>
            
            <div style="position:absolute; left:19.199958385363583%; top:21.938130004438833%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgu.png" style="width:30px;height:30px;"><br>
                <span>Tasigur Turbo Naus</span>
            </div>
            
            <div style="position:absolute; left:85.83622524218555%; top:71.25737687256954%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/u.png" style="width:30px;height:30px;"><br>
                <span>Orvar Twitch Control</span>
            </div>
            
            <div style="position:absolute; left:6.67724693761685%; top:49.042479831257026%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgu.png" style="width:30px;height:30px;"><br>
                <span>Tasigur Reanimator</span>
            </div>
            
            <div style="position:absolute; left:35.453652099571016%; top:17.069713594326494%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gruw.png" style="width:30px;height:30px;"><br>
                <span>Omnath 4 Colour Breach</span>
            </div>
            
            <div style="position:absolute; left:71.77980284363512%; top:34.613275228187945%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bw.png" style="width:30px;height:30px;"><br>
                <span>Tevesh Tymna Stax</span>
            </div>
            
            <div style="position:absolute; left:35.780321236261585%; top:16.202882071091757%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/r.png" style="width:30px;height:30px;"><br>
                <span>Magda Clock Combo</span>
            </div>
            
            <div style="position:absolute; left:9.855650963566603%; top:36.56339508833724%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgu.png" style="width:30px;height:30px;"><br>
                <span>Tevesh Thrasios Midrange</span>
            </div>
            
            <div style="position:absolute; left:61.21968807290859%; top:82.09546073117869%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/brw.png" style="width:30px;height:30px;"><br>
                <span>Rog Tymna Turbo Naus</span>
            </div>
            
            <div style="position:absolute; left:19.699482765040955%; top:28.190450874176065%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/buw.png" style="width:30px;height:30px;"><br>
                <span>Malcolm Sakashima Tymna Turbo Naus</span>
            </div>
            
            <div style="position:absolute; left:89.12985379343064%; top:53.99570434540044%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ru.png" style="width:30px;height:30px;"><br>
                <span>Krark Sakashima Clones</span>
            </div>
            
            <div style="position:absolute; left:41.36451251910808%; top:76.98529476854267%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/rw.png" style="width:30px;height:30px;"><br>
                <span>Koll Equipment Combo</span>
            </div>
            
            <div style="position:absolute; left:84.1793197444266%; top:69.46497400253493%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgru.png" style="width:30px;height:30px;"><br>
                <span>Thrasios Vial Turbo Naus</span>
            </div>
            
            <div style="position:absolute; left:90.99638626439796%; top:49.45565336385456%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gu.png" style="width:30px;height:30px;"><br>
                <span>Kodama Sakashima Storm</span>
            </div>
            
            <div style="position:absolute; left:89.83687596640897%; top:61.02124120421074%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgu.png" style="width:30px;height:30px;"><br>
                <span>Kodama Silas Adaptive Combo</span>
            </div>
            
            <div style="position:absolute; left:44.26233327730753%; top:90.25986783829632%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/r.png" style="width:30px;height:30px;"><br>
                <span>Birgi Storm</span>
            </div>
            
            <div style="position:absolute; left:26.40838224366378%; top:26.925434529791872%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgw.png" style="width:30px;height:30px;"><br>
                <span>Kodama Tymna Stax</span>
            </div>
            
            <div style="position:absolute; left:24.78191239990723%; top:21.57381387181799%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgruw.png" style="width:30px;height:30px;"><br>
                <span>Kenrith Reanimator</span>
            </div>
            
            <div style="position:absolute; left:57.47845329457327%; top:13.76365448446979%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/buw.png" style="width:30px;height:30px;"><br>
                <span>Yennett Peer</span>
            </div>
            
            <div style="position:absolute; left:8.952023486296454%; top:42.84634811850946%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgu.png" style="width:30px;height:30px;"><br>
                <span>Tevesh Thrasios Hullbreaker</span>
            </div>
            
            <div style="position:absolute; left:27.12395425186673%; top:72.37602580730801%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/grw.png" style="width:30px;height:30px;"><br>
                <span>Atla Shuffle</span>
            </div>
            
            <div style="position:absolute; left:50.71397764591835%; top:90.32701344879021%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gru.png" style="width:30px;height:30px;"><br>
                <span>Krark Thrasios Storm</span>
            </div>
            
            <div style="position:absolute; left:28.393490111070836%; top:17.933353129291525%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bru.png" style="width:30px;height:30px;"><br>
                <span>Kraum Tevesh Breach Storm</span>
            </div>
            
            <div style="position:absolute; left:14.728615247408754%; top:68.86609174245355%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgu.png" style="width:30px;height:30px;"><br>
                <span>Jorn Stasis Midrange</span>
            </div>
            
            <div style="position:absolute; left:71.67702467208508%; top:75.32227700024083%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gw.png" style="width:30px;height:30px;"><br>
                <span>Sisay Adaptive Tutors</span>
            </div>
            
            <div style="position:absolute; left:76.37546177824856%; top:65.64542937821118%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/grw.png" style="width:30px;height:30px;"><br>
                <span>Bruse Kamahl Stax</span>
            </div>
            
            <div style="position:absolute; left:26.003614616359584%; top:27.346667165297543%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/brw.png" style="width:30px;height:30px;"><br>
                <span>Extus Ad Nauseam</span>
            </div>
            
            <div style="position:absolute; left:79.40273383890741%; top:29.227921558053726%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgrw.png" style="width:30px;height:30px;"><br>
                <span>Tana Tymna Hermit Pod</span>
            </div>
            
            <div style="position:absolute; left:17.67412586810751%; top:34.155825625516364%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ruw.png" style="width:30px;height:30px;"><br>
                <span>Narset Turns</span>
            </div>
            
            <div style="position:absolute; left:83.25601702474819%; top:69.72684573774453%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ru.png" style="width:30px;height:30px;"><br>
                <span>Izzet Malcolm</span>
            </div>
            
            <div style="position:absolute; left:51.53855107282812%; top:21.04084150745572%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/grw.png" style="width:30px;height:30px;"><br>
                <span>Ardenn Tana Hatebears</span>
            </div>
            
            <div style="position:absolute; left:75.77937043332851%; top:15.168952960914226%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bg.png" style="width:30px;height:30px;"><br>
                <span>Dina Hulk</span>
            </div>
            
            <div style="position:absolute; left:88.92637722754696%; top:65.7714031062145%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/u.png" style="width:30px;height:30px;"><br>
                <span>Arcum Adaptive Combo</span>
            </div>
            
            <div style="position:absolute; left:26.522005160573418%; top:81.14135126033966%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgr.png" style="width:30px;height:30px;"><br>
                <span>Ikra Rograkh Turbo Naus</span>
            </div>
            
            <div style="position:absolute; left:69.70349869082015%; top:82.88185797343715%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ru.png" style="width:30px;height:30px;"><br>
                <span>Jeska Kraum Control</span>
            </div>
            
            <div style="position:absolute; left:70.51406131496745%; top:21.23165397854439%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ruw.png" style="width:30px;height:30px;"><br>
                <span>Kykar Underworld Storm</span>
            </div>
            
            <div style="position:absolute; left:33.30193830470639%; top:85.24449936685394%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ru.png" style="width:30px;height:30px;"><br>
                <span>Izzet Malcolm Polyhorn</span>
            </div>
            
            <div style="position:absolute; left:65.38575678235891%; top:15.984470222972057%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/br.png" style="width:30px;height:30px;"><br>
                <span>Prosper Turbo</span>
            </div>
            
            <div style="position:absolute; left:40.64196355122654%; top:84.41712168288538%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gw.png" style="width:30px;height:30px;"><br>
                <span>Sythis Enchantments</span>
            </div>
            
            <div style="position:absolute; left:35.340115473224294%; top:90.77824865586285%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgu.png" style="width:30px;height:30px;"><br>
                <span>Jorn Reanimator</span>
            </div>
            
            <div style="position:absolute; left:40.5534580929801%; top:15.261507718398072%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/grw.png" style="width:30px;height:30px;"><br>
                <span>Minsc Hulk</span>
            </div>
            
            <div style="position:absolute; left:84.48571084952306%; top:76.23954124943623%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgu.png" style="width:30px;height:30px;"><br>
                <span>Armix Thrasios Raza Midrange</span>
            </div>
            
            <div style="position:absolute; left:73.2234656395858%; top:17.432061107786105%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gr.png" style="width:30px;height:30px;"><br>
                <span>Gruul Snoop</span>
            </div>
            
            <div style="position:absolute; left:85.57434014360925%; top:65.1518129099426%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgruw.png" style="width:30px;height:30px;"><br>
                <span>Codie Turbo Naus</span>
            </div>
            
            <div style="position:absolute; left:12.358500186643461%; top:57.24996112027674%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgruw.png" style="width:30px;height:30px;"><br>
                <span>Tiamat Dream Halls</span>
            </div>
            
            <div style="position:absolute; left:48.835735834981264%; top:76.3075831918954%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/w.png" style="width:30px;height:30px;"><br>
                <span>Oswald Rule of Law Stax</span>
            </div>
            
            <div style="position:absolute; left:52.311239711957946%; top:82.58480139735363%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgw.png" style="width:30px;height:30px;"><br>
                <span>Kamahl Tymna Stax</span>
            </div>
            
            <div style="position:absolute; left:30.904316618240873%; top:88.52732635654345%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bg.png" style="width:30px;height:30px;"><br>
                <span>Grist 12 Entombs</span>
            </div>
            
            <div style="position:absolute; left:78.64655218474728%; top:32.313296169975715%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/buw.png" style="width:30px;height:30px;"><br>
                <span>Ishai Tevesh MAN Humility</span>
            </div>
            
            <div style="position:absolute; left:49.99870379280554%; top:7.000000019536664%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgu.png" style="width:30px;height:30px;"><br>
                <span>Tevesh Thrasios BugHulk</span>
            </div>
            
            <div style="position:absolute; left:81.26489646966371%; top:76.52369221547426%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bg.png" style="width:30px;height:30px;"><br>
                <span>Old Stickfingers Reanimation</span>
            </div>
            
            <div style="position:absolute; left:82.4976751843746%; top:53.3184663207563%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ruw.png" style="width:30px;height:30px;"><br>
                <span>Bruse Malcolm Glinthorn</span>
            </div>
            
            <div style="position:absolute; left:29.393974342810804%; top:88.12046018076171%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gu.png" style="width:30px;height:30px;"><br>
                <span>Lonis Midrange Clues</span>
            </div>
            
            <div style="position:absolute; left:47.502546397339025%; top:9.744062508987156%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gru.png" style="width:30px;height:30px;"><br>
                <span>Dargo Thrasios NeoTyrant</span>
            </div>
            
            <div style="position:absolute; left:80.49122010846469%; top:44.4066560719764%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/guw.png" style="width:30px;height:30px;"><br>
                <span>Ishai Thrasios Bant RoL</span>
            </div>
            
            <div style="position:absolute; left:67.88275496516083%; top:86.89453990573693%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gu.png" style="width:30px;height:30px;"><br>
                <span>Grolnok Selfmill</span>
            </div>
            
            <div style="position:absolute; left:16.732688073025095%; top:57.02039579748558%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgrw.png" style="width:30px;height:30px;"><br>
                <span>Tana Tymna Lukka</span>
            </div>
            
            <div style="position:absolute; left:86.91353401916452%; top:30.673797131172012%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bu.png" style="width:30px;height:30px;"><br>
                <span>Toxrill Infinite Mana</span>
            </div>
            
            <div style="position:absolute; left:50.0%; top:50.0%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/rw.png" style="width:30px;height:30px;"><br>
                <span>Aurelia Stax</span>
            </div>
            
            <div style="position:absolute; left:36.693335583388205%; top:87.01410262609089%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgr.png" style="width:30px;height:30px;"><br>
                <span>Tana Tevesh Protean Hulk</span>
            </div>
            
            <div style="position:absolute; left:85.46186765615546%; top:32.22641322687625%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gru.png" style="width:30px;height:30px;"><br>
                <span>Haldan Pako Midrange</span>
            </div>
            
            <div style="position:absolute; left:19.044861486905685%; top:71.46059592399342%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/guw.png" style="width:30px;height:30px;"><br>
                <span>Thrasios Yoshimaru Evolution</span>
            </div>
            
            <div style="position:absolute; left:87.37654098997388%; top:56.855230384516844%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/uw.png" style="width:30px;height:30px;"><br>
                <span>Shorikai Polymorph</span>
            </div>
            
            <div style="position:absolute; left:19.876211921107217%; top:41.37821540771663%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/gw.png" style="width:30px;height:30px;"><br>
                <span>Yasharn Stax</span>
            </div>
            
            <div style="position:absolute; left:58.7156031794647%; top:83.20867415293606%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/uw.png" style="width:30px;height:30px;"><br>
                <span>Shorikai Dramatic Scepter</span>
            </div>
            
            <div style="position:absolute; left:33.304372969084255%; top:20.381491630324195%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bw.png" style="width:30px;height:30px;"><br>
                <span>Armix Tymna Turbo Naus</span>
            </div>
            
            <div style="position:absolute; left:18.00031339037749%; top:50.141622335617626%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/rw.png" style="width:30px;height:30px;"><br>
                <span>Ardenn Rograkh Godo-Helm</span>
            </div>
            
            <div style="position:absolute; left:61.13725520477994%; top:21.427180906532048%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/grw.png" style="width:30px;height:30px;"><br>
                <span>Minsc RoL Stax</span>
            </div>
            
            <div style="position:absolute; left:56.543336717028545%; top:6.826367741579077%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/g.png" style="width:30px;height:30px;"><br>
                <span>Yeva Reactive Grind</span>
            </div>
            
            <div style="position:absolute; left:14.728046557297994%; top:31.134971499203555%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/ru.png" style="width:30px;height:30px;"><br>
                <span>Mizzix Storm</span>
            </div>
            
            <div style="position:absolute; left:22.87273954824283%; top:78.48197415021723%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bru.png" style="width:30px;height:30px;"><br>
                <span>Silas Krark Turbo</span>
            </div>
            
            <div style="position:absolute; left:33.12114529634137%; top:78.74396240958946%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgruw.png" style="width:30px;height:30px;"><br>
                <span>Najeela Stax</span>
            </div>
            
            <div style="position:absolute; left:49.65184850124412%; top:10.668207495144273%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bru.png" style="width:30px;height:30px;"><br>
                <span>Armix Kraum Naus</span>
            </div>
            
            <div style="position:absolute; left:80.21947644554372%; top:28.650919379110775%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/guw.png" style="width:30px;height:30px;"><br>
                <span>Falco Spara Midrange</span>
            </div>
            
            <div style="position:absolute; left:82.73470736572455%; top:35.018713884302876%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/r.png" style="width:30px;height:30px;"><br>
                <span>Jaxis</span>
            </div>
            
            <div style="position:absolute; left:16.2863088628198%; top:56.4934434381609%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/grw.png" style="width:30px;height:30px;"><br>
                <span>Rocco Creature Tutors</span>
            </div>
            
            <div style="position:absolute; left:53.652572358965394%; top:8.828369480831022%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bu.png" style="width:30px;height:30px;"><br>
                <span>Oskar Discard Combo</span>
            </div>
            
            <div style="position:absolute; left:83.93932972058516%; top:71.7921930033483%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bru.png" style="width:30px;height:30px;"><br>
                <span>Evelyn WGD</span>
            </div>
            
            <div style="position:absolute; left:21.93922149383103%; top:27.447999875227794%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/r.png" style="width:30px;height:30px;"><br>
                <span>Rionya Infinite Combats</span>
            </div>
            
            <div style="position:absolute; left:11.120039909596002%; top:36.986595243035275%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bg.png" style="width:30px;height:30px;"><br>
                <span>Gitrog Naus</span>
            </div>
            
            <div style="position:absolute; left:18.904667456902526%; top:44.011839029220994%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bw.png" style="width:30px;height:30px;"><br>
                <span>Tevesh / Yoshimaru</span>
            </div>
            
            <div style="position:absolute; left:54.94292490980896%; top:10.306581233962852%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bru.png" style="width:30px;height:30px;"><br>
                <span>Cormela Turbo</span>
            </div>
            
            <div style="position:absolute; left:82.66970426545268%; top:26.919912842281917%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgr.png" style="width:30px;height:30px;"><br>
                <span>Dargo Ikra Raza Naus</span>
            </div>
            
            <div style="position:absolute; left:86.0584101933797%; top:68.0712155679619%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgr.png" style="width:30px;height:30px;"><br>
                <span>Jeska Worldgorger Dragon</span>
            </div>
            
            <div style="position:absolute; left:87.73636087441596%; top:70.61472939322384%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgu.png" style="width:30px;height:30px;"><br>
                <span>Mimeoplasm</span>
            </div>
            
            <div style="position:absolute; left:44.121243111995426%; top:91.24986458841835%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bgru.png" style="width:30px;height:30px;"><br>
                <span>Redkats</span>
            </div>
            
            <div style="position:absolute; left:86.87197802696605%; top:37.29341759642139%; transform: translate(-50%, -50%);">
                <img src="http://24.62.6.16/bguw.png" style="width:30px;height:30px;"><br>
                <span>Thrasios Tymna Hulk</span>
            </div>
            
    </body>
</html
